apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      - job_name: 'argocd'
        static_configs:
          - targets: ['argocd-server-metrics.argocd.svc.cluster.local:8083']
      - job_name: 'go-app-pods'
        kubernetes_sd_configs:
        - role: pod
        relabel_configs:
        # 1. SZŰRÉS: JAVÍTVA!
        # Most már illeszkedik a "kezdo" címkére is
        - source_labels: [__meta_kubernetes_pod_label_app]
          action: keep
          regex: .*kezdo.* - source_labels: [__meta_kubernetes_pod_name]
          action: replace
          target_label: pod_name
        - source_labels: [__meta_kubernetes_pod_namespace]
          action: replace
          target_label: namespace
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config-volume
          mountPath: /etc/prometheus/
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
spec:
  selector:
    app: prometheus
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 9090
  type: ClusterIP