apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        kubernetes_sd_configs:
        - role: service
          namespaces:
            names:
              - default
          selectors:
            - role: service
              label: "app=prometheus"
      - job_name: 'argocd'
        kubernetes_sd_configs:
        - role: service
          namespaces:
            names:
              - argocd
          selectors:
            - role: service
              label: "app.kubernetes.io/name=argocd-server-metrics"
      - job_name: 'go-app-pods'
        kubernetes_sd_configs:
        - role: pod
          namespaces:
            names:
              - default
          selectors:
            - role: pod
              label: "app=kezdo"
      - job_name: 'go-app-service'
        kubernetes_sd_configs:
        - role: service
          namespaces:
            names:
              - default
          selectors:
            - role: service
              label: "app=kezdo"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: prometheus
      containers:
      - name: prometheus
        image: prom/prometheus:latest
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config-volume
          mountPath: /etc/prometheus/
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus
spec:
  selector:
    app: prometheus
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 9090
  type: ClusterIP